@font-face {
  font-family: "Inter UI";
  src: local("Inter UI"), local("Inter-UI"),
    url("../../fonts/Inter-Regular.ttf") format("truetype");
}

.card {
  width: 500px;
  height: 290px;
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.2);
  padding-right: 20px;
}

.card__body {
  justify-content: space-evenly;
  height: 290px;
}

.card__title-wrap {
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-family: "Inter UI";
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.card__digital-rate {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(233, 209, 0, 1);
  border-radius: 50%;
  flex-shrink: 0;
  width: 30px;
  height: 30px;

  font-family: "Inter UI";
  font-size: 12px;
  line-height: 22px;
}

.card__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  font-family: "Inter UI";
  font-size: 12px;
  line-height: 22px;
}
